@using RestaurantManagmentSystem.Core.Models.Orders
@model OrderViewModel

@{
    ViewBag.Title = "Order Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />



<div class="container">
    <p>@Model.EmployeeId</p>
    <p>@Model.TableId</p>
    <p>@Model.OrderStatus</p>
    <p>@Model.CreatedOn</p>

    @if (!Model.MenuItems.Any())
    {
        <p>There is no items yet</p>
    }

    @foreach (var item in Model.MenuItems)
    {
        <p>@item.Name</p>
    }
</div>





