@using RestaurantManagmentSystem.Core.Models.Orders
@model Order

@{
    ViewBag.Title = "Order Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <h3>Oder Number - @Model.Id</h3>
    <p>Employee ID : @Model.EmployeeId</p>
    <p>Table ID : @Model.TableId</p>
    <p>Order Status : @Model.OrderStatus</p>
    <p>Order Ceate on : @Model.CreatedOn</p>

    @if (!Model.SubOrders.Any())
    {
        <p>There is no Orders yet</p>
    }
    else
    {
        foreach (var item in Model.SubOrders)
        {
            @if (!item.IsCompleted)
            {
                <h4 style="background-color:red ">SubOrder : # @item.Id - Items are not ready by the kitchen</h4>
            }
            else
            {
                <h4 style="background-color:green">SubOrder : # @item.Id - Items are ready by the kitchen</h4>
            }

            <br />

            var counter = 1;

            foreach (var category in item.Categories)
            {

                foreach (var product in category.MenuItems)
                {
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td style="width: 5%">@counter</td>
                                <td style="width: 25%">@product.Name</td>
                                <td style="width: 25%">@(product.OrderedQty + "бр")</td>
                                <td style="width: 25%">@(product.Price + "лв.")</td>
                            </tr>
                        </tbody>
                    </table>

                    counter++;
                }

            }
        }
    }

    <a class="btn btn-primary" asp-area="Waiter" asp-controller="Order" asp-action="CreateSubOrder" asp-route-Id="@Model.Id">Create SubOrder</a>

    <div class="mt-2">
        <a class="btn btn-danger" asp-area="Waiter" asp-controller="Home" asp-action="AllTables">Back to List</a>
    </div>
     <div class="mt-2">
        <a class="btn btn-secondary" asp-area="Waiter" asp-controller="Order" asp-action="Delete" asp-route-Id="@Model.Id">Close the order</a>
    </div>
</div>





