@model EmployeeDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
  <div class="row justify-content-evenly">
    <div class="col-4">
      <img src="..." class="rounded float-start" alt="...">
    </div>
    <div class="col-4">
      First Name : @Model.FirstName
      First Name : @Model.FirstName
      First Name : @Model.FirstName
      First Name : @Model.FirstName
      First Name : @Model.FirstName
      First Name : @Model.FirstName
    </div>
  </div>
</div>